{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'mainpage/code/css/indexstyle.css/' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/mainpage/code/css/glider.css/' %}">
    <script src="{% static '/mainpage/code/js/glider.min.js/' %}"></script>
    <script defer src="{% static '/mainpage/code/js/indexscript.js/' %}"></script>
    <title>Title</title>
</head>
<body>
    <div class="glider-contain">
        <div class="glider">
            <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
              <div class="slider-item">
                <img class="item-bg" src="{% static 'mainpage/assets/images/counterbg.jpg' %}">
                <div class="item-hover">
                  <div class="item-title">
                    <div class="link"><a href="#">ITEM</a></div>
                  </div>
                  <div class="item-links">
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                    <div class="link"><a href="#">Sub-Item</a></div>
                  </div>
                </div>
              </div>
        </div>
      
        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
      </div>
</body>
</html>